<div>
    <mat-toolbar>        
        <div class="button-row">
            <button type="submit" *ngIf="isLoggedIn && isAdministrador" routerLink="/corridas" mat-raised-button>Corridas</button>
        </div>
        
        <div class="button-row">
            <button type="submit" *ngIf="isLoggedIn && isAdministrador" routerLink="/organizadores" mat-raised-button>Organizadores</button>
        </div>
        
        <div class="button-row">
            <button type="submit" *ngIf="isLoggedIn && isAdministrador" routerLink="/administradores" mat-raised-button>Administradores</button>
        </div>
        
        <div class="button-row">
            <button type="submit" *ngIf="isLoggedIn && isAdministrador" [routerLink]="['administradores-perfil', administradorId]" mat-raised-button>Meu perfil</button>
        </div>
        
        <div class="button-row">
            <button type="submit" *ngIf="isLoggedIn && isOrganizador" routerLink="/corridas" mat-raised-button>Minhas corridas</button>
        </div>
        
        <div class="button-row">
            <button type="submit" *ngIf="isLoggedIn && isOrganizador" [routerLink]="['organizador-perfil', organizadorId]" mat-raised-button>Meu perfil</button>
        </div>
        
        <!-- <div class="button-row">
            <button type="submit" *ngIf="isLoggedIn && isAtleta" routerLink="/atletas" mat-raised-button>Meu perfil</button>
        </div> -->
    </mat-toolbar>
</div>