.container {
  max-width: 1000px;
  margin:  auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(223, 220, 220, 0.1);
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.form-box{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    margin-top: 20px;
}