<div>  
  <mat-card class="form-box">    
    <form (submit)="atualizarAtleta()">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input [(ngModel)]="atleta.nome" name="nome" required matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Data de Nascimento</mat-label>
          <input [(ngModel)]="atleta.data_nascimento" name="data_nascimento" matInput [matDatepicker]="picker" readonly >
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Gênero</mat-label>
          <mat-select [(ngModel)]="selectedGenero" name="genero">
            <mat-option value="F">Feminino</mat-option>
            <mat-option value="M">Masculino</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="selectedEstado" (selectionChange)="onEstadoChanged()" name="estado">
            <mat-option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <mat-select [(ngModel)]="selectedCidade" name="cidade">
            <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Usuário</mat-label>
          <input [(ngModel)]="atleta.username" name="username" required matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input [(ngModel)]="atleta.password" type="password"  name="password" required matInput>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button type="submit" mat-raised-button>Salvar</button>
      </div>
    </form>
    <a class="register-login-link" routerLink="/atletas/login">Já tem uma conta, faça login</a>
  </mat-card>
</div>