<div class="container">  
	<h2>Administradores</h2>
	<div>
		<div *ngFor="let administrador of administradores">
			<div class="lista-item">
				<div class="info-geral">
					<p class="nome-destaque">{{administrador.nome.toUpperCase()}}</p>
				</div>
				<button (click)="editarAdministrador(administrador)" mat-raised-button>Editar</button>
				<button (click)="confirmarExclusao(administrador)" mat-raised-button>Excluir</button>
			</div>
		</div>
	</div>
	<button routerLink="/administradores/novo" mat-raised-button>Adicionar Administrador</button>
</div>