<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corridas</title>
</head>
<body>
    <div class="container">
        <div class="filters">
            <label for="estado">Estado:</label>
            <select [(ngModel)]="selectedEstado" (change)="onEstadoChanged()" name="estado">
                <option value="undefined" selected disabled>Selecione...</option>
                <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.nome }}</option>
            </select>

            <label for="cidade">Cidade:</label>
            <select [(ngModel)]="selectedCidade" name="cidade">
                <option value="undefined" selected disabled>Selecione...</option>
                <option *ngFor="let cidade of cidades" [value]="cidade.id">{{ cidade.nome }}</option>
            </select>

            <label for="dataInicial">Data Inicial:</label>
            <input type="date" [ngModel]="dataInicial | date:'yyyy-MM-dd'" name="dataInicial">

            <label for="dataFinal">Data Final:</label>
            <input type="date" [ngModel]="dataFinal | date:'yyyy-MM-dd'" name="dataFinal">

            <button (click)="onPesquisar()">Pesquisar</button>
            <button (click)="onLimpar()">Limpar</button>
        </div>

        <!-- <ul id="dynamicList"> -->
            <!-- <li *ngFor="let corrida of corridasFiltered"> -->
              <!-- Criar o template do item da lista -->
              <!-- <div class="corrida-item"> -->
                <!-- <div class="info-geral"> -->
                  <!-- <p class="nome-destaque">{{corrida.nome.toUpperCase()}}</p> -->
                  <!-- <p><strong>Percurso:</strong> {{corrida.percurso}}</p> -->
                  <!-- <p><strong>Valor:</strong> R$ {{corrida.valor | number:'1.2-2'}}</p> -->
                  <!-- <p><strong>Período de Inscrição:</strong> {{corrida.inicio_inscricao | date:'dd/MM/yyyy'}} a {{corrida.fim_inscricao | date:'dd/MM/yyyy'}}</p> -->
                  <!-- <p><strong>Cidade:</strong> {{corrida.cidade}}</p> -->
                  <!-- <p><strong>Site da Corrida:</strong> <a href="{{corrida.site}}" target="_blank">{{corrida.site}}</a></p> -->
                <!-- </div> -->
                <!-- <div class="data-largada"> -->
                  <!-- <p class="data-label">Data de Largada</p> -->
                  <!-- <p class="data-destaque">{{corrida.data_largada | date:'dd/MM/yyyy'}}</p> -->
                  <!-- <p class="hora-destaque">{{corrida.hora_largada | date:'HH:mm'}}</p> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </li> -->
          <!-- </ul> -->
		<div>			
			<mat-nav-list>
				<mat-list-item *ngFor="let corrida of corridas">
					<div mat-line>
						{{ corrida.nome }}
					</div>
				</mat-list-item>
			</mat-nav-list>
		</div>			
    </div>
</body>