<div>    
    <mat-card>
        <div class="container">
            <form (submit)="atualizarAdministrador()">
                <div>    
                    <mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input [(ngModel)]="administrador.nome" name="nome" required matInput />
                    </mat-form-field>
                </div>
                <button type="submit" mat-raised-button>Salvar</button>
            </form>
        </div>
    </mat-card>
</div>