.button-row {
  display: flex;
  align-items: center;
}

.button-row > * {
  margin-right: 3px;
}

.background-container {
  background-image: url('./../assets/images/corrida2.png');
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
}

.login-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-login-logout button {
  text-align: inherit;
}
