<div class="container">
 	<h2>{{ titulo }}</h2>
  	<div>
    	<div *ngFor="let corrida of corridas">
			<div class="corrida-item">
				<div class="info-geral">
					<p class="nome-destaque">{{corrida.nome.toUpperCase()}}</p>
					<p><strong>Percurso:</strong> {{corrida.percurso}}</p>
					<p><strong>Valor:</strong> R$ {{corrida.valor | number:'1.2-2'}}</p>
					<p><strong>Período de Inscrição:</strong> {{corrida.inicio_inscricao | date:'dd/MM/yyyy'}} a {{corrida.fim_inscricao | date:'dd/MM/yyyy'}}</p>
					<p><strong>Cidade:</strong> {{corrida.cidade}}</p>
					<p><strong>Site da Corrida: </strong> <a href="{{corrida.site}}" target="_blank">{{corrida.site}}</a></p>
				</div>
				<div class="data-largada">
					<p class="data-label">Data de Largada</p>
					<p class="data-destaque">{{corrida.data_largada | date:'dd/MM/yyyy'}}</p>
					<p class="hora-destaque">{{corrida.data_hora_largada | date:'HH:mm'}}</p>
				</div>
				<button (click)="editarCorrida(corrida)" mat-raised-button>Editar</button>
				<button (click)="confirmarExclusao(corrida)" mat-raised-button>Excluir</button>
			</div>
    	</div>
  	</div>
  	<button routerLink="/corridas/nova" mat-raised-button>Adicionar Corridas</button>
</div>