<h2>Adicionar Administrador</h2>
<form (submit)="atualizarAdministrador()">
  <div>
    <label>Nome</label>
    <input [(ngModel)]="administrador.nome" name="nome" />
  </div>
  <div>
    <label>Usuário</label>
    <input [(ngModel)]="administrador.username" name="username" />
  </div>
  <div>
    <label>Senha</label>
    <input [(ngModel)]="administrador.password" type="Password" name="password" />
  </div>
  <button type="submit">Salvar</button>
</form>
<button routerLink="/administradores">Voltar para lista</button>